<?xml version="1.0"?>
<!--
/**
 * @author     Sam James <sam@samdjames.uk>
 * @package    SamJUK_TinyMCE
 * @copyright  Copyright (c) 2024 Sam James (https://www.samdjames.uk)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="SamJUK_TinyMCE" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Pagebuilder" />
            <module name="Magento_Cms" />
        </sequence>
    </module>
</config>
